body {
  padding: 0.3em;
  font-family: system-ui;
}

a {
  color: #222;
  text-decoration: none;
}
  
a:visited {
  color: #555;
}

a:active {
  color: #d84d4b;
}


a:hover {
  color: #c80502;
  text-decoration: underline;
}
  

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    margin-left: 1.0em;
}
li.menu-item {
    padding-bottom: 0.5em;    
}

li.video-item {
    padding-bottom: 0.3em;
}

li.gp-list-item {
    padding-bottom: 1.5em;
}

.gp-list-item .gp-short-name {
    font-weight: bold;
}

.gp-list-item .gp-long-name {
    font-weight: lighter;
    padding-left: 0.5em;
}

ul.year-menu {
    margin-bottom: 0.5em;
}

.year-menu li.menu-item {
    display: inline-block;
    border-radius: 3px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #e0e0e0, 
                 -5px -5px 10px #ffffff;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-top: 0.3em;
}

.event-container {
  display: flex;
  align-items: stretch;
}

.date-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  font-weight:normal;
  margin: 0.5em;

  border: 1px solid grey;
  border-radius: 0.3em;
  width: 3em;
  min-width: 3em;
  height: 3em;

}

.date-container .day {
  font-size: 1.5em;
}