@{ await IncludeAsync("Templates.Header.cshtml", @Model); }

<h2>
    GP @Model.GP.Title
</h2>

<ul class="video-list">
    @foreach (var grouping in Model.GP.VideosByChampionship)
    {
        <li class="video-group">
            <h3 class="championship-item">@grouping.Key</h3>
            <ul class="championship-group">
                @foreach (var video in grouping) 
                {
                    <li class="video-item">
                        <a href="@video.Url">@video.Title</a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>

@{ await IncludeAsync("Templates.Footer.cshtml"); }