@{ await IncludeAsync("Templates.Header.cshtml", @Model); }

<h2>@Model.Year.Title</h2>

<ul class="gp-list">

@foreach (var gp in @Model.Year.GPs)
{
    <li><a href="./@(Model.Year.Title)/@(gp.ShortName).html">@gp.Title</a></li>
}

</ul>

@{ await IncludeAsync("Templates.Footer.cshtml"); }