@model GPList.ViewModel<GPList.YearData>

@{ await IncludeAsync("Templates.Header.cshtml", @Model); }

<ul class="gp-list">

@foreach (var gp in @Model.Model.GPs)
{
    <li class="gp-list-item menu-item">
        <div class="gp">
            <a href="./@(Model.Model.Title)/@(gp.ShortName).html">
                <div class="gp-short-name">@gp.UrlName</div>
                <div class="gp-long-name">@gp.Title</div>
            </a>
        </div>
    </li>
}

</ul>

@{ await IncludeAsync("Templates.Footer.cshtml"); }